.nav{
    width:100%;
    height:40px;
    
}
.nav_left{
    background:#f00;
    width:190px;
    height:40px;
    float:left;
    margin-left: 300px;
}
.nav_left_san{
    box-sizing: border-box;
    border-top:5px solid #fff;
    border-bottom: 5px solid #fff;
    height:15px;
    color:#fff;
    line-height: 40px;
    width:30px;
    padding:8px 0px;
    margin:10px 20px;
    float:left;
}
.nav_left_san hr{
    height: 5px;
    background: #fff;
    outline: none;
    margin-top: -2px;
    
}
.nav_left h2{
    display:block;
    float: left;
    line-height: 40px;
    font-size:14px;

}
.nav_left h2 a{
    color:#fff;  
    font-size:14px;
}
.nav .nav_center{
    float: left;
}
.nav .nav_center li{
    float:left;
    height: 40px;
    line-height: 40px;
    margin-left:35px;
    text-align: center;
}
.nav .nav_center li a{
    font-size:14px;
    color:#000;
    font-weight: bolder;
}
/* 商品下拉菜单部分 */
.product_list{
    margin-left: 300px;
    float:left;
    z-index:999;
}
.product_list ul{
    overflow: hidden;
    width:190px;
    height: 450px;
    background:rgba(25,17,17,0.2)
}
.product_list ul li{
    width:210px;
    height:38px;
    padding-left: 10px;
    cursor: pointer;
}
.product_list ul li:hover{
    background: #f00;
}

.product_list ul li a{
    color:#faf8f9;
    line-height: 38px;
    font-size:14px;
}
/* 下拉菜单右侧隐藏部分 */
.hiddens>div{
    height:450px;
    background:#fff;
    width:800px;
    border:1px solid #124;
    float: left;
    display:none;
}
.hiddens>div:target{
    display:block;
}
.hiddens div p,
.hiddens div span {
    padding-left:40px;
}
.hiddens div span{
    display:block;
    margin-top:15px;
}
.hiddens div p{
    height:40px;
    margin-top:15px;
}
.hiddens div p a{
    float: left;
    padding-left:25px;
}
.hiddens div hr{
    width:500px;
    height:2px;
    margin-left:40px;
}
/*底层轮播图的图片*/
.under{
    background: url('https://gelimall.oss-cn-shenzhen.aliyuncs.com/album/2019/6/20/40e710dc-27ab-4884-a0d5-1bd3b429051c.jpg'); 
    background-repeat:no-repeat; 
    text-align:center; 
    width: 100%; 
    height: 450px;
}
/* 主体部分 */
/* 楼梯部分 */
p.floor{
    font-size:20px;
    height:30px;
    font-family:"黑体";
    line-height: 20px;
    margin-top:10px;
    display:block;
    color: #747474;
    margin-left:300px;
}
/* 一楼产品 */
ul.f_1{
    margin-left:300px;
}
.f_1>li{
    float: left;
    margin-right:7px;
}
/* 解决高度坍塌 */
.floor_h{
    clear:both;
}
/* 每日精选内容推荐部分 */
.f_2{
    margin-left:300px;
    display: flex;
}
.f_2_left,.f_2_2_top{
    margin-right:10px;
}
.f_2_2{
    position: relative;
}
.f_2_2_bt{
    position: absolute;
    top: 290px;
    left: 300px;
}
.f_2_2_top,.f_2_2_rig{
    margin-bottom: 7px;
}
/* 楼层部分 */
.F_1F{
    margin-top:15px;
    margin-left:300px;
    position: relative;
    
}
.F_1F_top{
    width: 1200px;
    height: 40px;
    background: #f5f5f5;
}
.F_1F .F_1F_top b,
.F_1F .F_1F_top a,
.F_1F .F_1F_top span{
    display:block;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    float: left;
}
.F_1F .F_1F_top b{
    width:40px;
    font-size:23px;
    background:rgb(216, 58, 73);color:#fff;
}
.F_1F .F_1F_top a{
    width:125px;
    font-size: 20px;
    color: rgb(216, 58, 73);
    margin-left:20px;
    margin-right: 30px;
}
.F_1F .F_1F_top span{
    width:125px;
    background:rgb(216, 58, 73);
    color:#fff;
    font-size:14px;
    font-weight: bold;
}
/*1F主体内容部分  */
.F_1F_body{
    margin-top:8px;
}
.F_1F_body{
    display: flex;
}
.F_1F_body div ul{
    width: 600px;
}
.F_1F_body div ul li{
    float: left;
    width:197px;
    height:233px;
    border:1px solid #f5f5f5;
}
.F_1F_body div ul li img{
    width:160px;
    height:160px;
    cursor: pointer;
}
.F_1F_body div ul li a{
    color: #666;
    font-size: 14px;
    line-height: 18px;
    width: 180px;
    display: block;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 36px;
    word-break: break-all;
    cursor: pointer;
}
.F_1F_body div ul li span{
    color: #c00;
    font-size: 16px;
    cursor: pointer;
    display: block;
    font: 700 18px/24px Verdana,
    Arial;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}