#content{
    margin:0 auto;
    width:1200px;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #fafafa;
}
div.proDetails .proDetails_top{
    position: relative;
    margin:0 auto;
    width: 1162px;
    background: #fff;
    border: 1px solid #fff;
}
/* 面包屑导航的样式 */
div.proDetails_top_bread{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin: 10px;
}
div.proDetails_top_bread span>a{
    font-size: 16px;
    color: #666666;
    font-weight: bold;
}
div.proDetails_top_bread a:hover{
    color: #b20000;
}
/* 左侧图片部分 */
.proDetails_top_img{
    width: 400px;
    height: auto;
    float: left;
}
.proDetails_top_img_bigImg>div.proDetails_top_img_trans {
    background-color:transparent;
    width: 398px;
    height: 398px;
}
.proDetails_top_img_bigImg img{
    width: 398px;
    height: 398px;  
}
.proDetails_top_img_selector{
    width:235px;
    height: 210px;
    display: block;
    position: absolute;
    cursor: crosshair;
    opacity: 0.15;
    background: #000;
    border: 1px solid #fff;
    display: none;
}
.bigView{
    top: 50px;
    left: 398px;
    display: block;
    position: absolute;
    border: 1px solid #959595;
    overflow: hidden;
    z-index: 999;
    background-color: #fff;
    display: none;
}
.bigView img{
        width: 472.362px;
        height: 422.111px;
        
}

/* 下面小图片 */
div.proDetails_top_img_smImg{
        position: relative;
        height: 82px;
        margin-top: 5px;
        background-color: #fff;
        padding: 6px 5px;
        width: 390px;
}
div.proDetails_top_img_bigImg{
    position: relative;
}
.proDetails_top_img_smImg div.leftButton{
        float: left;
        line-height: 82px;
}
.proDetails_top_img_smImg div.leftButton img,
.proDetails_top_img_smImg div.rightButton img {
    width: 15px;
    height: 15px;
}

.proDetails_top_img_smImg ul{
    height: 82px;
    width: 330px;
    overflow: hidden;
    margin-left: 10px;
    float: left;
}
.proDetails_top_img_smImg ul li{
    float: left;
}
.proDetails_top_img_smImg ul li img{
    width: 78px;
    height: 78px;
    vertical-align: middle
}

.proDetails_top_img_smImg div.rightButton{
    float: left;
    line-height: 82px;
}
/* 右侧详情列 */
.proDetails_top_details{
    float: left;
    width: 450px;
    height: auto;
}

/*右侧商家信息  */
.proDetails_top_shop{
    float: left;
}